{% extends 'dash10/homebase.html' %}
{% load staticfiles %}


{% block username %} 
{{ username }}
{% endblock %}

{% block extstyle %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block sidebar %} 
<!---------------- MENU SIDEBAR------------------->

<aside class="menu-sidebar d-none d-md-block bg-dark" style="opacity: 1;width: 14%;">
    <div class="logo bg-dark text-white" style="border-bottom : 1px solid #fff;opacity: 1;padding : 0px;">
        <a href="/dash10/" class="col-md-7">
            <h3 class="text-white col-md-8" style="padding-left: 0px;">DashDesk</h3>
        </a>
         <a href=""><i class="fas fa-long-arrow-alt-left col-md-2" style="font-size: 32px;padding-left: 0px;"></i></a>
         <a href=""><i class="fas fa-long-arrow-alt-right col-md-2" style="font-size: 32px;"></i></a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1 bg-dark" style="opacity: 1;border-right: 1px solid #fff;">
        <div class="card" style="border : none;">
            <div class="card-body bg-dark text-white" style="padding-top: 10px;">
                <form action="" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="row form-group" style="border-bottom : 1px solid #fff;padding-bottom: 10px;">
                        <div class="col-md-4">
                            <label for="select" class=" form-control-label" style="font-size:14px;">Database</label>
                        </div>
                        <div class="col-md-6">
                            <select name="select" id="select" class="form-control-sm bg-dark text-white">
                                <option value="1">DashDesk</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="row col-md-12">
                            <label id="tablelabel" for="select" class=" form-control-label col-md-12">Select Table</label>
                            <a href="/dash10/dbs/" id="resetbtn" class="btn btn-secondary btn-block col-md-5" style="padding:0px;border-radius: 30px;height:30px;padding-top:2px;">Reset</a>
                        </div>
                        <nav class="navbar-sidebar" style="padding: 10px;padding-top: 20px;margin-bottom: 20px;">
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-desktop" style='margin-right:5px;'></i>{{ dbname }}</a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list bg-dark text-white">
                                    {% for table in tables %}
                                        <li class="has-sub">
                                            <a class="js-arrow" href="#" onclick="getcolumns('{{ table }}')"><i class='fas fa-table' style='margin-right:5px;'></i>{{table}}</a>
                                            <ul id="{{ table }}" class="list-unstyled js-sub-list bg-dark text-white ml-4">
                                                
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </nav>
                    </div>
                    <nav class="navbar-sidebar" style="padding-top: 20px;margin-bottom: 20px;">
                        <ul class="list-unstyled navbar__list" id="cities1">
                        </ul>
                    </nav>
                </form>
            </div>
        </div>
    </div>
</aside>
{% endblock %}
<!---------------------   END MENU SIDEBAR -------------->




<!----------------------  BLOCK BODY --------------->
{% block body %}
<div class="container-fluid page-wrapper" style="height: 937px;overflow-y: hidden;"> 
    <!-- MAIN CONTENT--> 
    <div class="row pt-5">
        <div style="display: inline-block;width: 100%;">
            <div class="au-card recent-report col-lg-12 mb-3 mt-4 bg-dark text-white" style="height: 870px;opacity: 1;margin: 0px;padding : 10px;border-right: 1px solid #fff;border-bottom: 1px solid #fff;padding-left: 0px;padding-right: 0px;">
                <div class="row table-data__tool pb-2 pl-1" style="border-bottom: 1px solid #fff;margin-bottom: 0px;">
                    <div class="col-md-3">
                        <button class="btn-secondary" style="padding : 4px 15px;border-radius: 5px;" onclick="document.getElementById('tablehead').innerHTML = '';document.getElementById('tablebody').innerHTML = '';">
                            <i class="fas fa-sync-alt"></i>&nbsp;&nbsp;Refresh</button>
                        <button class="btn-secondary" style="padding : 4px 15px;border-radius: 5px;">
                            <i class="fas fa-undo"></i></button>
                        <button class="btn-secondary" style="padding : 4px 15px;border-radius: 5px;">
                            <i class="fas fa-redo"></i></button>
                    </div>
                    <div id="message" class="col-md-4">
                        
                    </div>
                    <div class="col-md-5 pl-5">
                        <button data-toggle="modal" data-target="#customsql" class="btn-secondary" style="padding : 4px 15px;border-radius: 5px;">
                            <i class="fas fa-save"></i>&nbsp;&nbsp;Custom SQL</button>
                        <a class="btn-secondary" style="padding : 4px 15px;border-radius: 5px;" href="/dash10/dbs/">
                            <i class="fas fa-save"></i>&nbsp;&nbsp;Visualize</a>
                        <button data-toggle="modal" data-target="#savereport" class="btn-secondary" style="padding : 4px 15px;border-radius: 5px;">
                            <i class="fas fa-save"></i>&nbsp;&nbsp;Save Report</button>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                            <select class="form-control-sm bg-dark text-white" name="type">
                                <option selected="selected">Export</option>
                                <option value="">CSV</option>
                                <option value="">SQL</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>
                <div class="tabledisplay" style="height: 59%;border-bottom: 1px solid #fff;">
                    <div class="table-responsive table--no-card m-b-30" style="height: 100%;">
                        <table class="table table-borderless table-striped table-secondary sortable" style="overflow-y: scroll;height: 59%;overflow-x: scroll;width: 100%;">
                            <thead id="tablehead" class="bg-dark text-white">
                            </thead>
                            <tbody id="tablebody" class="bg-secondary text-white" style="height:100%;overflow-y: scroll;">
                            </tbody>
                        </table>
                   </div>
                </div>
                <div class="row droparea" style="height: 8%;border-bottom: 1px solid #fff;">
                    <div class="row dropcolumnsarea pl-4" id="dropcolumnsarea" ondrop="drop(event)" ondragover="allowDrop(event)" style="display: inline-block;width:90%;">
                        
                    </div>
                    <div class="viewbtn" style="display: inline-block;width: 9%;">
                        <center><button onclick="tableplottinghelper(tables,headers,1)" class="btn-secondary mt-3" style="padding : 4px 15px;border-radius: 5px;">
                            <i class="fas fa-eye"></i>&nbsp;&nbsp;View</button></center>
                    </div>
                </div>
                <div class="row joinarea" style="height: 8%;border-bottom: 1px solid #fff;">
                    <div id="tablejoinarea" class="row col-md-12 tablejoinarea">
                    </div>
                </div>
                <div class="filtersarea" style="height:24%;">
                    <div class="row mt-3 pl-3">
                        <div class="row col-md-3 form-group">
                            <div class="col col-md-12">
                                <label for="select" class=" form-control-label">Order by</label>
                            </div>
                            <br>
                            <div class="col-12 col-md-8">
                                <select name="select" id="orderby" class="form-control-sm bg-dark text-white" onchange="mainfilters()">
                                    <option value="0">Please select</option>
                                    
                                </select>
                            </div>
                            <div class="col-12 col-md-4">
                                <select name="select" id="orderbyorder" class="form-control-sm bg-dark text-white" onchange="mainfilters()">
                                    <option value="ASC">ASC</option>
                                    <option value="DESC">DESC</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-md-2 form-group">
                            <div class="col col-md-12">
                                <label for="select" class=" form-control-label">Group by</label>
                            </div>
                            <div class="col-12 col-md-10">
                                <select name="select" id="groupby" class="form-control-sm bg-dark text-white" onchange="mainfilters()">
                                    <option value="0">Please select</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-md-2 form-group">
                            <div class="col col-md-12">
                                <label for="text-input" class=" form-control-label">Top</label>
                            </div>
                            <div class="col-12 col-md-8">
                                <input type="text" id="limit" name="text-input" placeholder="100" class="form-control-sm form-control input-sm bg-dark text-white" onchange="mainfilters()">
                            </div>
                        </div>

                    </div>
                </div>
                <!--
                <ul class="nav nav-tabs bg-dark text-white" id="myTab" role="tablist" style="border: none;">
                  <li class="nav-item">
                    <a class="nav-link text-white" id="table-tab" data-toggle="tab" href="#table" role="tab" aria-controls="home" aria-selected="true">Table</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" id="plot-tab" data-toggle="tab" href="#plot" role="tab" aria-controls="profile" aria-selected="false" onclick="newplot(map,document.getElementById('colorpicker').value,headers)">Plot</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" id="join-tab" data-toggle="tab" href="#join" role="tab" aria-controls="contact" aria-selected="false">Join</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent" style="height: 100%;">
                  <div class="tab-pane fade" id="plot" role="tabpanel" aria-labelledby="home-tab" style="height: 100%;">
                      <div class="au-card-inner" style="height: 100%;">
                        <div class="loader" id="loader" style="position: relative;left:45%;top:40%;"></div>
                        <iframe style="height:100%;width:100%;border: 2px solid rgba(60,60,60,0.8);" id="plotmap" src="">
                            
                        </iframe>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="profile-tab" ondrop="drop(event)" ondragover="allowDrop(event)"  style="height: 100%;">
                    <div class="table-responsive table--no-card m-b-30" style="height: 100%;padding: 20px;">
                        <table class="table table-borderless table-striped table-secondary searchable sortable" style="overflow-y: scroll;height: 100%;overflow-x: scroll;width: 100%;">
                            <thead id="tablehead" class="bg-dark text-white">
                            </thead>
                            <tbody id="tablebody" class="bg-secondary text-white" style="overflow-y: scroll;">
                            </tbody>
                        </table>
                    </div>
                  </div>
                  <div class="row tab-pane fade show active" id="join" role="tabpanel" aria-labelledby="contact-tab" ondrop="droptable(event)" ondragover="allowDroptable(event)"  style="height: 80%;">
                      
                  </div>
                  <div class="col-lg-12 mt-4">
                        <button id="payment-button" type="submit" class="btn btn-secondary btn-block col-md-2 offset-md-9" onclick="jointables(tables[0],tables[1],document.getElementById('t1').value,document.getElementById('t2').value)">
                            <span id="join-button-amount">View</span>
                            <span id="join-button-sending" style="display:none;">Joining...</span>
                        </button>
                    </div>
                </div>
            -->
                
            </div>
        </div>
     <br><br>
        
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2019 DashDesk. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
</div>
{% endblock %}